body{
	
    
     /* background-image: url('../images/burger.jpg');  */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-color: brown;
    font-size:1em;
    font-family: Verdana, Tahoma, sans-serif; 
}

.container 
{
    width:90%;
    height: 100vh;
}

.burger-header
{
    /* background-image: url('../images/burger.jpg');  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height:250px;
    background-color:white;
    font-size:3.5em;
    opacity: 0.8;
}

.new_burger_form
{
    background-color:black;
    padding:0px;
}


.form_burger
{
    width:70%;
}